* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

#calc-container{
    outline: 3px solid black;
    width: 375px;
    height: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(19, 19, 19, 0.53);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(19, 19, 19, 0.3);
}

#calc-screen {
    border: 2px solid black;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
    width: 350px;
    height: 64px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #def3ff;
}

#btn-container {
    display: flex;
    gap: 15px;
    width: 350px;
    height: 400px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly
}

.calc-btn {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5%;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    user-select: none;
}

#btnc {
    background-color: rgb(255, 205, 205);
}

#btnc:active {
    background-color: rgb(255, 151, 151);
}

#btn\= {
    background-color: rgb(215, 255, 215);
}

#btn\=:active {
    background-color: rgb(150, 255, 150);
}

.operator {
    background-color: rgb(199, 209, 255);
}

.operator:active {
    background-color: rgb(132, 154, 255);
}

.number {
    background-color: rgb(255, 255, 255);
}

.number:active {
    background-color: rgb(233, 233, 233);
}